.cm{
    margin-top: 5em;
}

h1{
    padding: 0.5em;
    font-size: 3em;
}

p{
    font-size: 1.2em;
}

body{

    background-color: #7395AE;
}


@media only screen and (max-width: 600px){
    p{
        font-size: medium;
        text-align: justify;
        text-justify: inter-word;
    }
  }