<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cm">
                <h1 style="text-align: center;">About Us</h1>
            </div>
            
        </div>
        <div class="row" >
            <div class="col-sm-12">
                <p>karunya English Medium high School was established in the year 1991. It is a co-education institution running by
                    karunya educational society.School aims at the integral development of the personloity of the eveyr child to make him/her to commit to the
                    service of the nation.It is our earnest effort to give equal importance to the morla development of students.
                    Students are encouraged to maintain huge ideas adn strive for excellance in all fields as well as incuclate into
                    them the values of freedom and respect ofr law and order.They are thought to abide iby the moral principals and unselfishness in the service of their country and the
                    fellowness. </p>
            </div>
            
        </div>
    </div>
</body>
</html>