<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cm">
                <h1 style="text-align: center;">Events</h1>
                <li>Karunya Celebrations Event - March 7th 20220 </li>
            </div>
            
        </div>
        <div class="row" >
            <div class="col-sm-12">
                <h1 style="text-align: center;">News and Announcemets</h1>
                <li>No News</li>
            </div>
            
        </div>
    </div>
</body>
</html>