<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-4" >
            <img src="https://nhgzda.sn.files.1drv.com/y4mscEAlZ7mhElnP04xbezWWjS7t3a0wxZfpdE8Ixe6CLe4pGYqUeWKyywdw2FkNXd6PprAHthAoICMOE9bMcr5eC3PZWDF4XLAxxsIX4s62n8tsXc7T3KpaXiO4PCHZ3p7Yp6gsR3bL7kTj_h09ItNaVr6Q5VZeDvpQa3pT0bBCsxUqekxq7lm67ZX1FgNtkHWkfxBAJyFJnIexrGW1Ck_Yw?width=4288&height=2848&cropmode=none"
                class="img"/>
        </div>
        <div class="col-sm-4" >
            <img src="https://nrgsda.sn.files.1drv.com/y4mMQ3OdfaEPRnAY9z4ObNjK-bjC2Zz03trpndP-Y6fzoy0X0Rt-y9b2V_KQFl94iGsJqV0AI3biVrsADz29Wxt8nQ9syzzaLOHqa304Z18dqk23ephoU6oa_CFXBXdX-yILmFzDBKpjQ0pYp-5s2K9Or1xjVRZF7TLEF53gCQ443-ZL9lyWrGQfbLe3Z1Qttbz4TZXw5LjifT-W0vrALzumQ?width=6240&height=4160&cropmode=none"
            class="img"/>
        </div>
        <div class="col-sm-4">
            <img src="https://nrgqda.sn.files.1drv.com/y4moa9cl1sPrZxPMqEMaUiDKRH4LiU6FxMMMZasjdlea1veDl7EtoVmEvfAPRqFsXKHy9jmiqSN7kND5Xszvc9JJ1VvINq_XeSUd8u70dqpAHUV-SRGgAbZrC7PqgxzNGYY4HilbmhX6UQtgJv3EgthihLYDbwiLhMZbOn7Zbc-d-IxNky00dc4MglHkErTSUfrco5jDscwmkAzWj0_ZcbudQ?width=6240&height=4160&cropmode=none"
            class="img"/>
        </div>
    </div>
    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-4" >
            <img src="https://nrgtda.sn.files.1drv.com/y4mEQn8CXTHKvSEpRdBiC2-8-Co_ndH3rVvUGH08RlStkKEEi2Nlpz_JiQbiJ3fvz0Gtx3Nrn76lT18hABjeVPx_kG6FCeqWzz4yztbAMJOFRzj-iA0-pZkZPC34r56LJ5elASazTT9it3stkKIv_9rV7nsYNni-6fLza0kxF8L6k1s9Um_S49LTXkCKFnZsWCEEHIpIQVqmtRfh9rix-XsHg?width=6240&height=4160&cropmode=none"
                class="img"/>
        </div>
        <div class="col-sm-4" >
            <img src="https://nrgmda.sn.files.1drv.com/y4mQoooEucmZGX7QsAMXW663iCkSB_KmnjgGHS287_dJj3XWs1qNQlD-tbDRkFLFOCkJ1hHCVs1z4bDkw4eq8F_Fxmx8VI0GygxqVTCRrem460__LW9hPaWOO9j5H6xtn6Ty627zYmlYtb0wbNQyU9g4YDl3EBvx_x73-Tk-h1k_49W4I2Lld9CpPwUqoRN9VYWzofMJ3yHOUW6ynB5t5WhOg?width=6240&height=4160&cropmode=none"
                class="img"/>
        </div>
    </div>


</body>


</html>