<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cm">
                <h1 style="text-align: center;"> Requirements for Applying</h1>
    
                <li>Date of Birth certificate</li>
                <li>date of Birth once given will not be changed on any account what so ever</li>
                <li>Transfer certifaacete from the school last attended</li>
                <li>The child who seeks admission must be accompanied by the parents</li>
                <li>Passport size photographs to be afficed on application form</li>
                <li>The presence of students of parents is compulsory. No representative will be accepted.</li>
            </div>
            
        </div>
        <div class="row" style="margin-top:1em;">
            <div class="col-sm-12 cm">
                <h1 style="text-align: center;">Mode of examination</h1>
    
                <p>The annual promotions are decided through the system continuous assessment thorught out the year</p>
        
            </div>
            
        </div>
    </div>
</body>
</html>