<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
         <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div >
                <img [src]="images[0]" style="width: 100%;"  alt="Random first slide">
                
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="container-fluid mv">
        <div class="row">
            <div class="col-lg-6" >
                <div class="card" style=" border: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;"><div class="button"><a 
                                (click)="toggleShowM()">Mission</a></div></h5>
                        <p class="card-text" *ngIf="isShownM">we aspire to be right mentor to inspire students to
                            gain passion for learing, to provide
                            strong foundation in school level education and inculcate future generations to build
                            themselves
                            socially, physically and emotionally </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" >
                <div class="card" style=" border: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;"><div class="button"><a 
                            (click)="toggleShowV()">Vision</a></div></h5>
                        <p class="card-text" *ngIf="isShownV">We personally focus on individual student, track
                            progress, foster competence, incuclate
                            values respect, empathy, achievement, team work with vaious teaching methodologies. we
                            focus student to
                            be resilient to adapt to situations and build healthy relationships </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 1em;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size: 2em;">News and Announcements</h5>
                <p class="card-text">
                    <li>Karunya Celebrations Event - March 7th 20220 </li>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-6">
                <div class="well well-sm">

                    <form class="form-horizontal" method="post" action=”contact-form-handler.php”> 
                        <fieldset>
                            <legend class="text-center header">Contact us</legend>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="fname" name="first_name" type="text" placeholder="First Name"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="lname" name="last_name" type="text" placeholder="Last Name"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="email" name="email" type="text" placeholder="Email Address"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="phone" name="telephone" type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="message" name="comments"
                                        placeholder="Enter your massage for us here. We will get back to you within 2 business days."
                                        rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
            <div class="col-md-6 text-center">
                <h1 class="text-center" style="margin-top: 3em;">Address</h1>
                <p>19-14-81, Raghavendra nagar</p>
                <p>Tirupathi</p>
                <p>Andhra Pradesh</p>
                <p>Pincode: 51701</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>